<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
    <body>
    <div id="mainContainer" class="container" data-config="{{ json_config }}">
    {% for screen in config.screens %}
        <div id="{{ screen.id }}" class="screen hidden">
            {% for item in screen.screen_items %}
                <div id="{{ item }}" class="dashboard-item-{{ screen.screen_items|length }} dashboard-item show-spinner"></div>
            {% endfor %}
        </div>
    {% endfor %}
        <div class="pagination"><span id="currentPage">1</span>/{{ screens_count }}</div>
    </div>

    {% raw %}
    <script id="jenkinsResult" type="x-tmpl-mustache">
        <div class='left-side'>
            <ul>
                {{#succeded_runs}}
                    <li class="list-item"><h4>{{name}}</h4></li>
                {{/succeded_runs}}
            </ul>
        </div>
        <div class='right-side'>
        
            <div class="header">
                <h2 class="heading">{{name}}</h2>
            </div>
            <div><div class="last-run icon"></div><span class="value bold">{{hours_ago}}h ago</span></div>
            <div><div class="last-success icon"></div><span class="value bold">{{last_success}}h ago</span></div>
            {{#artifact_output}}
                <pre> {{artifact_output}} </pre>
            {{/artifact_output}}
            {{#has_failed_runs}}
                <div class="failed-tests-label">Failed tests:</div>
                <div class="jenkins-details">
                <ul>
                {{#failed_runs}}
                    <li class="list-item"><span>{{name}}</span></li>
                {{/failed_runs}}
                </ul>
                </div>
            {{/has_failed_runs}}
        </div>
    </script>
    {% endraw %}
    {% raw %}
    <script id="iframeResult" type="x-tmpl-mustache">
        <iframe src={{url}} scrolling="no"></iframe>
    </script>
    {% endraw %}
    <script data-main="static/scripts/main" src="{{ url_for('static', filename='scripts/external/requirejs/require.js') }}"></script>
    </body>
</html>
