<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
    <body>
    <div id="mainContainer" class="container" data-config="{{ json_config }}">
    {% for screen in config.screens %}
        <div id="{{ screen.id }}" class="screen hidden {{screen.type}} {{screen.id}}">
            {% for item in screen.screen_items %}
                <div id="{{ item }}" class="dashboard-item-{{ screen.screen_items|length }} dashboard-item show-spinner"></div>
            {% endfor %}
        </div>
    {% endfor %}
        <div class="pagination"><span id="currentPage">1</span>/{{ screens_count }}</div>
    </div>

    {% raw %}
    <script id="jenkinsResult" type="x-tmpl-mustache">
        <div class="left-column">
            <div class="header">
                <h2 class="heading">{{name}}</h2>
            </div>
            <div><div class="last-run icon"></div><span class="value bold">{{hours_ago}}h ago</span></div>
            <div><div class="last-success icon"></div><span class="value bold">{{last_success}}h ago</span></div>
            {{#artifact_output}}
                <pre> {{artifact_output}} </pre>
            {{/artifact_output}}
            {{#image}}
                <div class="{{image}} image"></div>
            {{/image}}
            {{#has_failed_runs}}
                <div class="failed-tests-label">Failed tests:</div>
                <div class="jenkins-details">
                <ul>
                {{#failed_runs}}
                    <li class="list-item"><span>{{name}}</span></li>
                {{/failed_runs}}
                </ul>
                </div>
            {{/has_failed_runs}}
        </div>
        <div class="right-column">
            <div class="header-right">
                <div class="pie">{{failure_percentage}}%</div>
                <div class="results-counter"></div>
            </div>
        </div>
    </script>
    {% endraw %}

    {% raw %}
    <script id="jenkinsResultSingle" type="x-tmpl-mustache">
        <header class={{status}}>
            <h2>{{name}}</h2>
            <h3><div class="last-run icon"></div><span class="value bold">{{hours_ago}}h ago</span></h3>
            <h3>{{success_count}} / {{total_count}}</h3>
            {{#environment}}
                <h3>{{environment}}</h3>
            {{/environment}}
            {{#is_running}}
                <div class="running-container">
                    <div class="running icon"></div>
                    <span>RUNNING...</span>
                </div>
            {{/is_running}}
        </header>
        <div class="left-column">
            <h4>({{failed_count}}) FAILED RUNS</h4>
            {{#has_failed_runs}}
                <ul>
                {{#failed_runs}}
                    <li class="list-item"><span>{{name}}</span></li>
                {{/failed_runs}}
                </ul>
            {{/has_failed_runs}}
        </div>
        <div class="left-column">
            <h4>({{aborted_count}}) ABORTED RUNS</h4>
            {{#has_aborted_runs}}
                <ul>
                {{#aborted_runs}}
                    <li class="list-item"><span>{{name}}</span></li>
                {{/aborted_runs}}
                </ul>
            {{/has_aborted_runs}}
        </div>
    </script>
    {% endraw %}

    {% raw %}
    <script id="iframeResult" type="x-tmpl-mustache">
        <iframe src={{url}} scrolling="no" sandbox="allow-same-origin allow-scripts"></iframe>
    </script>
    {% endraw %}

    <script data-main="static/scripts/main" src="{{ url_for('static', filename='scripts/external/requirejs/require.js') }}"></script>
    </body>
</html>
