* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.dashboard-item.show-spinner {
    background: url("/static/images/spinner.gif") no-repeat center;
}

.hidden {
    display: none;
}

.container {
    height: 100%;
    width: 100%;
}

.screen {
    height: 100vh;
    width: 100%;
}

.dashboard-item {
    border: solid 1px #000;
    border-radius: 10px;
    padding: 20px
}

.dashboard-item.failed {
    border-color: #FF0000;
}

.dashboard-item.failed h2 {
    color: #FF0000;
}

.dashboard-item-2 {
    width: 40vw;
    margin: 5vh 5vw;
    min-height: 80vh;
    float: left;
}

.dashboard-item-4 {
    width: 40vw;
    margin: 5vh 5vw;
    height: 40vh;
    float: left;
}

.dashboard-item-1 {
    width: 90vw;
    margin: 5vh 5vw;
    min-height: 80vh;
}

.jenkins-details {
    font-size: 10px;
}

.jenkins-details .failed {
    color: #FF0000;
}

.bold {
    font-weight: bold;
}

.results-visualization {
    height: 50px;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 50%;
}

.results-visualization td {
    background-color: #00FF00;
}

.results-visualization td.failed {
    background-color: #FF0000;
}

