* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

pre {
    font-size: 22px;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.results-counter {
    display: inline-block;
    font-size: 32px;
    width: 100%;
}

.dashboard-item.show-spinner {
    background: url("/static/images/spinner.gif") no-repeat center;
}

.hidden {
    display: none;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.dashboard-item {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px
}

.dashboard-item.failed {
    border-color: #FF0000;
}

.failed {
    color: #FF0000;
}

.success {
    color: yellowgreen;
}

.dashboard-item-2 {
    width: 40vw;
    margin: 5vh 5vw;
    min-height: 80vh;
    float: left;
}

.dashboard-item-4 {
    width: 47.9vw;
    margin: 1vh 1vw;
    height: 45vh;
    float: left;
}

.dashboard-item-6, .dashboard-item-7, .dashboard-item-8 {
    width: 32vw;
    margin: 1vh 1vw;
    height: 20vh;
    float: left;
}

.dashboard-item-9 {
    width: 31%;
    margin: 1vh 1vw;
    float: left;
    height: 30vh;
}

.dashboard-item-11 {
    width: 31%;
    margin: 1vh 1vw;
    float: left;
    height: 22vh;
}

.dashboard-item-6 svg, .dashboard-item-7 svg, .dashboard-item-8 svg, .dashboard-item-9 svg, .dashboard-item-11 svg {
    width: 75px;
    height: 75px;
}

.dashboard-item-6 .left-column, .dashboard-item-7 .left-column, .dashboard-item-8 .left-column, .dashboard-item-9 .left-column, .dashboard-item-11 .left-column {
    width: 70%;
}

.dashboard-item-6 .right-column, .dashboard-item-7 .right-column, .dashboard-item-8 .right-column, .dashboard-item-9 .right-column, .dashboard-item-11 .right-column {
    width: 30%;
}

.dashboard-item-1 {
    border: none;
    width: 90vw;
    margin: 5vh 5vw;
    height: 80vh;
}

.jenkins-details {
    display: inline-block;
    float:left;
    margin-top:10px;
}

.bold {
    font-weight: bold;
}

svg {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
    background: yellowgreen;
    border-radius: 50%;
}

circle {
    fill: yellowgreen;
    stroke: red;
    stroke-width: 32;
}

.pie {
    display: inline-block;
    width: 100%;
}

.right-column {
    padding-top: 10px;
    padding-right: 10px;
    float: right;
    text-align: center;
    width: 15%;
}

.left-column {
    float: left;
    padding-left: 10px;
    width: 85%;
}

.last-run {
    background: url("/static/images/last-run.png") no-repeat center;
}

.hoursglass {
    background: url("/static/images/hoursglass.gif") no-repeat center;
}

.last-success {
    background: url("/static/images/success-icon.png") no-repeat center;
}

.icon {
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
}

.value {
    line-height: 32px;
    margin-left: 10px;
}

.list-item {
    font-size: 22px;
    line-height: 32px;
}

.header h2 {
    font-size: 32px;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

ul {
    margin: 0;
}

.failed-tests-label {
    margin-top: 10px;
    display: inline-block;
    font-size: 26px;
    float:left;
}

.pagination {
    position: absolute;
    bottom:0;
    font-size: 22px;
    text-align: center;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

header {
    text-align: center;
    margin-bottom: 50px;
    height: 50px;
}

header h3 {
    display: inline-block;
    margin: 0 30px;
}

header.UNSTABLE, header.FAILURE {
    color: #FF0000;
}

header.ABORTED {
    color: #696969;
}

header.SUCCESS {
    color: #228B22;
}

.hourglass.icon {
    height: 50px;
    width: 50px;
}

.MercuryEmulators .left-column {
    width: 50%;
}

.MercuryEmulators .right-column {
    width: 50%;
}