* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.results-counter {
    display: inline-block;
    font-size: 32px;
    width: 100%;
}

.dashboard-item.show-spinner {
    background: url("/static/images/spinner.gif") no-repeat center;
}

.hidden {
    display: none;
}

.container {
    height: 100%;
    width: 100%;
}

.screen {
    height: 100vh;
    width: 100%;
}

.dashboard-item {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px
}

.dashboard-item.failed {
    border-color: #FF0000;
}

.failed {
    color: #FF0000;
}

.success {
    color: yellowgreen;
}

.dashboard-item-2 {
    width: 40vw;
    margin: 5vh 5vw;
    min-height: 80vh;
    float: left;
}

.dashboard-item-4 {
    width: 47.9vw;
    margin: 1vh 1vw;
    height: 45vh;
    float: left;
}

.dashboard-item-1 {
    width: 90vw;
    margin: 5vh 5vw;
    min-height: 80vh;
}

.jenkins-details {
    display: inline-block;
    float:left;
    margin-top:10px;
}

.bold {
    font-weight: bold;
}

svg {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
    background: yellowgreen;
    border-radius: 50%;
}

circle {
    fill: yellowgreen;
    stroke: red;
    stroke-width: 32;
}

.pie {
    display: inline-block;
    width: 100%;
}

.right-column {
    padding-top: 10px;
    float: right;
    text-align: center;
    width: 15%;
}

.left-column {
    float: left;
    padding-left: 10px;
    width: 85%;
}

.last-run {
    background: url("/static/images/last-run.png") no-repeat center;
}

.last-success {
    background: url("/static/images/success-icon.png") no-repeat center;
}

.icon {
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
}

.value {
    line-height: 32px;
    margin-left: 10px;
}

.list-item {
    font-size: 22px;
    line-height: 32px;
}

.header h2 {
    font-size: 32px;
}

ul {
    margin: 0;
}

.failed-tests-label {
    margin-top: 10px;
    display: inline-block;
    font-size: 26px;
    float:left;
}

.pagination {
    position: absolute;
    bottom:0;
    font-size: 22px;
    text-align: center;
    width: 100%;
}
